* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0F172A;
}

.header_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #0F172A;
  border-bottom: solid;
  border-color: rgb(51 65 85);
  color: #ffffff;
  font-size: 18px; 
  height: 5rem;
  width: 100%;
}

.search_list__container {
  display: flex;
  justify-content: center;
  background-color: #0F172A;
  margin-top: 4rem; 
  margin-bottom: 4rem;
  padding: 10px;
}

.search__form {
  position: relative;
  margin-right: 2rem;
  width: 400px;
}

.search__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  margin-top: -10px;
  pointer-events: none; 
}

.search__input {
  padding-top: 8px;
  padding-bottom: 8px; 
  padding-left: 40px; 
  font-size: 14px;
  line-height: 1.25rem; 
  line-height: 1.5rem; 
  width: 100%; 
  border-radius: 6px;  
  appearance: none; 
}

.UserLista {
  display: flex;
  justify-content: center;
}

.table__style {
  background-color: rgb(230, 230, 230);
}

tbody tr:nth-child(2n) {
  background: #ccc;
}

th { 
  background-color: #ffd219; 
  color: #3e3e3e; 
  padding: 5px; 
}

td {  
  color: #3e3e3e; 
  padding: 3px;
  text-align: center;
}

@media(max-width: 1200px) {
  .UserLista {
    display: flex;
    justify-content: center;
    padding: 10px;
    overflow-x: auto;
  }
}

@media(max-width: 970px) {
  .UserLista {
    display: block;
    justify-content: center;
  }
}

@media(max-width: 360px) {
  .header_container {
    display: flex;
    text-align: center;
    padding: 20px;
    background-color: #0F172A;
    border-bottom: solid;
    border-color: rgb(51 65 85);
    color: #ffffff;
    font-size: 18px; 
    height: 5rem;
    width: 100%;
  }

  .search_list__container {
    display: flex;
    align-items: center;
    background-color: #0F172A;
    margin-top: 4rem; 
    margin-bottom: 4rem;
    padding: 10px;
  }
}

