body {
  background: #0F172A;
}

.header_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #0F172A;
  border-bottom: solid;
  border-color: rgb(51 65 85);
  color: #ffffff;
  font-size: 18px; 
  height: 5rem;
  width: 100%;
}

.search_list__container {
  display: flex;
  justify-content: center;
  background-color: #0F172A;
  margin-top: 4rem; 
  margin-bottom: 4rem;
  padding: 10px;
}

.search__form {
  position: relative;
  margin-right: 2rem;
  width: 400px;
}

.search__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  margin-top: -10px;
  pointer-events: none; 
}

.search__input {
  padding-top: 8px;
  padding-bottom: 8px; 
  padding-left: 40px; 
  font-size: 14px;
  line-height: 1.25rem; 
  line-height: 1.5rem; 
  width: 100%; 
  border-radius: 6px;  
  appearance: none; 
}

.search__btn {
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
  color: rgb(15 23 42 / var(--tw-text-opacity));
  padding-top: 8px;
  padding-bottom: 8px; 
  padding-left: 12px;
  padding-right: 12px; 
  font-size: 16px;
  line-height: 1.5rem; 
  font-weight: 500; 
  border-radius: 0.5rem; 
  --tw-bg-opacity: 1;
}

.table__container {
  display: flex;
  justify-content: center;
  color: white;
} 

.UserLista {
  display: flex; 
  justify-content: center;
}

.table__style {
  width: 100%; 
}

th { 
  background-color: #ffd219; 
  color: #3e3e3e; 
  padding: 5px; 
}

td { 
  background-color: #f6f6f6; 
  color: #3e3e3e; 
  padding: 3px;
  text-align: center;
}

//Responsivo
@media(max-width: 280px) {
  
}

@media(max-width: 768px) {
  
}

@media(max-width: 768px) {
  
}

